/* Nav bar component */

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  nav a {
    color: white;
  }
  
  
  
  #logo h1 {
    color: white;
  }
  
  
  
  nav #logo {
    margin-right: auto;
  }
  
  .navLinks a {
    padding: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: rgb(156, 156, 156);
  }